{% extends 'home/base.html' %}


{% block content %}
    <section class="text-gray-700 body-font">
      <h6 style="margin:auto;text-align: center; font-size: 15pt; color: white; background-color: #79aec8; width: 83%; margin: auto; border-radius: 8px;padding: 0.5%">My Personal projects</h6>
      <div class="container px-5 py-8 mx-auto">
{#        <div class="flex flex-wrap w-full mb-20">#}
{#          <div class="lg:w-1/2 w-full mb-6 lg:mb-0">#}
{#            <h1 class="sm:text-l text-l font-medium mb-4 text-gray-600">My Personal projects :</h1>#}
{#            <div class="h-1 w-80 bg-blue-200 rounded"></div>#}
{#          </div>#}
{#          </div>#}
        <div class="flex flex-wrap -m-4">
          {% for project in projects %}
              <div class="xl:w-1/2 md:w-1/2 p-4">
                <div class="bg-gray-100 p-6 rounded-lg">
                  <img class="h-64 rounded w-full object-fill object-center mb-6" src="../../static/timeseries.png" alt="img"
                       style="border: 1px #cc1111;">
                  <h3 class="tracking-widest text-teal-500 text-xs font-medium title-font">Project Title</h3>
                  <h2 class="text-lg text-gray-900 font-medium title-font mb-4">{{ project.title }}</h2>
                  <h3 class="tracking-widest text-teal-500 text-xs font-medium title-font">Description of Project</h3>
                  <p class="leading-relaxed text-base">{{ project.description }}</p>
                </div>
              </div>
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}