<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="../../static/pr.jpg">
        <title>Raghav's</title>
    </head>

    <body>

        {% include 'home/header.html' %}
        <!--hr style="height:2px;color:gray;background-color:#79aec8; width: 82%;margin: auto;"><br-->
        {% block content %}
        {% endblock %}
        <hr style="height:2px;color:gray;background-color:#79aec8; width: 82%;margin: auto;">
        {% include "home/footer.html" %}
        <hr style="height:2px;color:gray;background-color:#79aec8; width: 82%;margin: auto;"><br>
    </body>
</html>