
<section class="text-gray-700 body-font">
          <div style="margin: auto; width: 82.5%"><marquee><p style="color: darkred">Welcome to PraveenRaghav.Com. Here you can find cool stuff in Information Technology.<p></p></marquee></div>

  <div class="container px-5 py-5 mx-auto flex flex-wrap">
    <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
      <img alt="feature" class="object-cover object-center h-full w-full" src="../../static/Pic.jpg">
    </div>
    <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
      <div class="flex flex-col mb-10 lg:items-start items-center">
        <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-teal-100 text-teal-500 mb-5">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <img src="../../static/raghav.jpg" style="border-radius: 50%">
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Welcome Dear</h2>
          <p class="leading-relaxed text-base text-blue-600">
              Well..I am Praveen and currently doing my Masters in IT from IIIT-A. You heard right..this is the place where you can find one of the
              best coders in our country.
          </p>
        </div>
      </div>
      <div class="flex flex-col mb-10 lg:items-start items-center">
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">About Me</h2>
          <p class="text-blue-600">
          I belong to a small village in District Bulandshahr. Done my schooling till 10th in nearby town and in those days we used to go to school
          on foot walking around 4 KMs everyday and believe me it was the best phase of my life. I have made few friends there and they are
              still part of my life. After 10th class in 2009, I moved to Aligarh and done 12th from there. I used to live alone in a rented room. This was
              the time when things started to evolve..I have made my Facebook account back then. I have started to read a lot of books in every field mainly
              spirituality. It has opened my mind to a great extent and I stated seeing the world from a new lens.
              I have stared doing meditation after reading books by Pt. Sri Ram Sharma Ji. You can visit <a href="https://www.awgp.org/" style="color: #3875d7">Here</a> for more
              details about him and it was a life changing thing in my life. Now meditation is an integral part of my life.
              After 12th class I have moved to Meerut for Engineering and enjoyed a lot. My journey of exploration kept on going.
          </p>
        </div>
      </div>
      <div class="flex flex-col mb-10 lg:items-start items-center">
        <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-teal-100 text-teal-500 mb-5">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Neptune</h2>
          <p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
          <a class="mt-3 text-teal-500 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>