
<section class="text-gray-700 body-font">
          <div style="margin: auto; width: 82.5%"><marquee><p style="color: darkred">WELCOME TO PRAVEENRAGHAV.IN<p></p></marquee></div>

  <div class="container px-5 py-5 mx-auto flex flex-wrap">
    <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
      <img alt="feature" class="object-cover object-center h-full w-full" src="../../static/raghav1.jpg">
    </div>
    <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
      <div class="flex flex-col mb-10 lg:items-start items-center">
        <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-teal-100 text-teal-500 mb-5">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <img src="../../static/raghav.jpg" style="border-radius: 50%">
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Welcome Dear</h2>
          <p class="leading-relaxed text-base text-blue-600">
              Hi! I am Praveen Raghav. Currently I am in Masters of Technology(M.Tech) in IT from Indian Institute of Information Technology, Allahabad (Prayagraj).
              I have joined M.Tech in August 2019. <br><br>
              I love to travel a lot, but due to Covid-19, I have spent last one year in a 10x10 room, don't know how,
              but obviously with my Lappy and Fibre connection :).<br><br>
              My hobbies are Cooking..Sports Shooting..watching Animation Movies. Always passionate to learn new things, be it
              Hypnosis, Dowsing, Reiki, Yoga or How to experiment with a new Dish ;)..<br><br>
              If you have something to say...Just <a href="{% url 'contact' %}">click here..</a>
          </p>
        </div>
      </div>
      <!--div class="flex flex-col mb-10 lg:items-start items-center">
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">About Me</h2>
          <p class="text-blue-600">

          </p>
        </div>
      </div!-->
      <div class="flex flex-col mb-10 lg:items-start items-center">
        <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-teal-100 text-teal-500 mb-5">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </div>
        <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Connect me on:</h2>
            <p class="leading-relaxed text-base"></p>
            <a href="https://www.linkedin.com/in/praveen-k-raghav-139649a1/" style="color: #003366" target="_blank">LinkedIn</a> &nbsp;
            <a href="https://github.com/praveenraghav97" style="color: #003366" target="_blank">GitHub</a>&nbsp;
            <a href="https://hack.codingblocks.com/app/users/266098" target="_blank" style="color: #003366">HackerBlocks</a>&nbsp;
        </div>
      </div>
    </div>
  </div>
</section>