{% extends 'home/base.html' %}

{% block content%}
    <h6 style="text-align: center; font-size: 15pt; color: white; background-color: #79aec8; width: 83%; margin: auto; border-radius: 8px;padding: 0.5%">Contact Me</h6>

    <section class="text-gray-700 body-font">

      <div class="container px-3" style="width: 100%;margin: auto;padding-top: 40px; padding-bottom: 40px">

        <div class=" md:w-full bg-gray-300 rounded-lg overflow-hidden p-10 flex justify-start relative " style="width: 100%;">
          <iframe width="100%" height="100%" class="absolute inset-0" frameborder="0" title="map" marginheight="0" marginwidth="0" scrolling="no" src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=%iiit+allahabad&ie=UTF8&t=&z=14&iwloc=B&output=embed"></iframe>
          <div class="bg-white relative flex flex-wrap py-6 " style="margin: auto" >
            <div class="lg:w-full px-6 ">
              <h2 class="title-font font-medium text-blue-600 tracking-widest text-sm">ADDRESS</h2>
              <p class="leading-relaxed text-blue-700" >Department of Information Technology,<br> Indian Institute of Information Technology,<br>
                  Devghat, Jhalwa, Prayagraj (Uttar Pradesh)<br>211015</p>
            </div>
            <div class="lg:w-full px-6 mt-4 lg:mt-0">
                <br>
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm">EMAIL</h2>
              <a class="text-teal-500 leading-relaxed">mit2019097@iiita.ac.in</a><br>
              <a class="text-teal-500 leading-relaxed">praveenraghav@gmail.com</a>
              <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mt-4">PHONE</h2>
              <p class="leading-relaxed">+91-8273367349</p>
              <p class="leading-relaxed">+91-7906049098</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}


