{% extends 'home/base.html' %}

{% block content %}
    <h6 style="text-align: center; font-size: 15pt; color: white; background-color: #79aec8; width: 83%; margin: auto;
     border-radius: 8px;padding: 0.5%">Educational Background</h6>
    <section class="text-gray-700 body-font">
      <div class="container px-5 py-12 mx-auto">
        <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
          <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">
              <img src="../../static/pg.png" style="border-radius: 50%">
            </svg>
          </div>
          <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-blue-600 text-lg title-font font-medium mb-2">Post Graduation: M.Tech</h2>
            <h2 class="text-blue-400 text-md title-font font-medium mb-2">Specialization: Information Technology</h2>
            <p class="text-blue-400 text-md title-font font-medium mb-2">Indian Institute of Information Technology, Allahabad - U.P.</p>
            <p class="mt-3 text-blue-400 inline-flex items-center">Passing Year : 2019 - 2021</p>
          </div>
        </div>
        <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-5 border-gray-200 sm:flex-row flex-col">
          <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-blue-600 text-lg title-font font-medium mb-2">Under Graduation: B.Tech</h2>
            <h2 class="text-blue-400 text-md title-font font-medium mb-2">Specialization: Information Technology</h2>
            <p class="text-blue-400 text-md title-font font-medium mb-2">Meerut Institute of Engineering and Technology, Meerut - U.P. (Affiliated to - Dr. APJ Abdul Kalam Technical University, Lucknow)</p>
            <p class="mt-3 text-blue-400 inline-flex items-center">Passing Year : 2013 - 2017</p>
          </div>

          <div class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">
              <circle cx="6" cy="6" r="3"></circle>
              <circle cx="6" cy="18" r="3"></circle>
              <img src="../../static/ug.png" style="border-radius: 50%">
            </svg>
          </div>
        </div>

        <div class="container px-5 py-5 mx-auto">
        <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
          <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full text-indigo-500 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">
               <img src="../../static/12jpg.jpg">
            </svg>
          </div>
          <div class="flex-grow sm:text-left text-center mt-2 sm:mt-0">
            <h2 class="text-blue-600 text-lg title-font font-medium mb-2">Senior Secondary Certificate - 12th</h2>
            <p class="text-blue-400 text-md title-font font-medium mb-2">G.D. Public School (Affiliated to - CBSE, New Delhi)</p>
            <p class="mt-3 text-blue-400 inline-flex items-center">Passing Year : 2011 - 2012</p>
          </div>
        </div>
        <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
          <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-blue-600 text-lg title-font font-medium mb-2">Higher Secondary Certificate - 10th</h2>
            <p class="text-blue-400 text-md title-font font-medium mb-2">SRD Higher Secondary School, Sidhpur (Affiliated to - Uttar Pradesh State Board, Allahabad)</p>
            <p class="mt-3 text-blue-400 inline-flex items-center">Passing Year : 2008 - 2009</p>
          </div>
          <div class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full text-indigo-500 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">
              <circle cx="6" cy="6" r="3"></circle>
              <circle cx="6" cy="18" r="3"></circle>
              <img src="../../static/10jpg.jpg">
            </svg>
          </div>
        </div>
        </div>
        </div>
    </section>

{% endblock %}